<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /virtuepoker/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /virtuepoker/index.html [L]
</IfModule>